<div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
            <div class="left">
                <div>
                    <label for="name">Name</label>
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                        placeholder="Your Name" required>
                    @if (!name.valid && name.touched && formSubmitted) {
                    <span>Your Name is required</span>
                    }
                </div>
                <div>
                    <label for="email">Email</label>
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        placeholder="Your Email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    @if (!email.valid && email.touched && formSubmitted) {
                    <span>Your Email is required</span>
                    }
                </div>
            </div>
            <div class="right">
                <label for="message">Message</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                    placeholder="Your Message" required></textarea>
                @if (!message.valid && message.touched && formSubmitted) {
                <span>Your Message is required</span>
                }
            </div>
        </div>
        <div class="bottom">
            <div>
                <label for="privacy">
                    <input #privacy="ngModel" ngModel type="checkbox" name="privacy" id="privacy" required>
                    <span class="checkmark"></span>
                    <span>
                        I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.
                    </span>
                </label>
                @if (!privacy.valid && privacy.touched && formSubmitted) {
                <span class="error">Please accept the privacy policy.</span>
                }
            </div>
            <button class="btn-secondary" type="submit">Send</button>
        </div>
    </form>
</div>