<div class="container">
    <form (ngSubmit)="onSubmit(contactForm, name, email, message)" #contactForm="ngForm">
        <div>
            <div class="left">
                <div class="input-validity">
                    <label for="name">Name</label>
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                        [placeholder]="placeholderName" [ngClass]="nameInvalid" autocomplete="name"
                        pattern="^(?=.*[a-zA-ZäöüÄÖÜßàáâãäåèéêëìíîïòóôõöùúûüýÿ])[a-zA-ZäöüÄÖÜßàáâãäåèéêëìíîïòóôõöùúûüýÿ '-]{2,}$"
                        (input)="resetMessageSent()" required>

                    @if (!name.valid && contactForm.submitted) {
                    <img [src]="validationIcons.invalid" alt="invalid input">
                    } @else if (name.valid && contactForm.submitted) {
                    <img [src]="validationIcons.valid" alt="valid input">
                    }
                </div>
                <div class="input-validity">
                    <label for="email">Email</label>
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                        [placeholder]="placeholderEmail" [ngClass]="emailInvalid" autocomplete="email"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" (input)="resetMessageSent()"
                        required>
                    @if (!email.valid && contactForm.submitted) {
                    <img [src]="validationIcons.invalid" alt="invalid input">
                    } @else if (email.valid && contactForm.submitted) {
                    <img [src]="validationIcons.valid" alt="valid input">
                    }
                </div>
            </div>
            <div class="right input-validity message-validity">
                <label for="message">Message</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message"
                    [placeholder]="placeholderMessage" [ngClass]="messageInvalid" pattern="[\s\S]{20,}"
                    (input)="resetMessageSent()" required></textarea>
                @if (!message.valid && contactForm.submitted) {
                <img [src]="validationIcons.invalid" alt="invalid input">
                } @else if (message.valid && contactForm.submitted) {
                <img [src]="validationIcons.valid" alt="valid input">
                }
            </div>
        </div>
        <div class="bottom">
            <div>
                <label for="privacy">
                    <input #privacy="ngModel" ngModel type="checkbox" name="privacy" id="privacy"
                        (change)="checkBoxChange(); resetMessageSent()" required>
                    <span class="checkmark"></span>
                </label>
                <p><span>{{'contact.contact-form.privacy-before' | translate}} <a (click)="openInNewTab('/privacy')">{{'contact.contact-form.privacy-a' | translate}}</a> {{'contact.contact-form.privacy-after' | translate}}</span>
                    <br>
                    @if (!privacy.valid && formSubmitted) {
                    <span class="error">{{'contact.contact-form.privacy-error' | translate}}</span>
                    } @else {
                        <span class="error"></span>
                    }
                </p>
            </div>

            @if (!contactForm.valid) {
            <button class="btn-secondary disabled" type="submit">{{'contact.contact-form.submit' | translate}}</button>
            } @else {
            <button class="btn-secondary" type="submit">{{'contact.contact-form.submit' | translate}}</button>
            }

            <span>
                @if (messageSent) {
                    {{'contact.contact-form.success-message' | translate}}
                }
            </span>

        </div>
    </form>
</div>