/* Style inputs with type="text", select elements and textareas */
// input[type=text],[type=email], select, textarea
@import "./../../../../styles-var.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $turquoise;

  > div:first-child {
    display: flex;
    gap: 32px;

    .left {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .right {
      width: 55%;
    }
  }
}

input[type="text"],
[type="email"],
textarea {
  background-color: unset;
  border: 1.5px solid $turquoise;
  color: $turquoise;
  font-size: 18px;
  padding: 12px 8px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: $turquoise;
    opacity: 60%;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }
}

textarea {
  resize: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: unset;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(2, 244, 192, 0.6);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $turquoise;
  }
}

label {
  display: none;
}

.error {
    color: $red;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
        align-self: flex-end;
    }

  >div:first-child {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;

    >span {
        padding-left: 32px;
        position: absolute;
        top: 36px;
       
    }
  }

  label {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;

    &:hover .checkmark {
        background-color: $turquoise;
      }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: unset;
    border: 2px solid $red;
    border-radius: 4px;
    transition: 0.2s;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 4px;
      height: 10px;
      border: solid $red;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
 

  span {
    font-size: 14px;

  }
}
