@import './../../../styles-var.scss';

.wrapper {
    display: flex;
    justify-content: center;
}

section {
    padding: 128px 48px 48px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    color: rgba(245, 245, 245, 0.8);
    text-align: justify;
}


h1 {
    font-size: 48px;
    color: $red;
}

h2 {
    font-size: 28px;
    margin: 24px 0 8px;
}

h3 {
    font-size: 24px;
    margin-top: 8px;
    color: $turquoise;
}

.top-law {
    padding-bottom: 8px;
}

@media (max-width: 800px) {
    section {
        padding: 128px 20px 48px;
    }

    .top-law {
        text-align: left;
    }
}