<div class="wrapper">
    <section>
        <h1>{{'legal-notice.title' | translate}}</h1>
        <p class="top-law">{{'legal-notice.law' | translate}}</p>
        <p>Lisa-Marie Maliga <br>
            Brahmsstraße 44<br>
            18069 Rostock <br>
        </p><br>
        <p> <strong>{{'legal-notice.represented' | translate}}</strong><br>
            Lisa-Marie Maliga<br>
        </p><br>
        <p><strong>{{'legal-notice.contact' | translate}}</strong> <br>
            Tel: +49381-80831304<br>
            E-Mail: <a href='mailto:hello@lisamariemaliga.com'>hello&#64;lisamariemaliga.com</a></p><br>
        <p [innerHTML]="'legal-notice.text' | translate"></p><br>
        <p>
            {{'legal-notice.credit-one' | translate}} <a href="https://www.impressum-generator.de">impressum-generator.de</a> {{'legal-notice.credit-two' | translate}} <a
            href="https://www.kanzlei-hasselbach.de/" rel="nofollow">{{'legal-notice.credit-three' | translate}} Hasselbach</a>
        </p>
        
    </section>
</div>