<section>
    <div class="wrapper">
        <h3>{{'projects.title' | translate}}</h3>

        <div class="project-list">
            @for (project of projects; track $index) {
                <div [class.img-right]="$index % 2 !== 0">
                        <img src="./assets/img/{{project.screenshot}}" alt="{{project.projectName}}">
                   
                    <div class="project-details">
                        <h4>{{project.projectName}}</h4>
                        <div>
                            @for (language of project.languages; track $index) {
                                <span>{{language}}</span>
                                @if (!$last) {
                                    |
                                }
                            }
                        </div>
                        <p>{{ 'projects.render.' + $index + '.description' | translate}}</p>
                        <div class="buttons">
                            <a href="{{project.links.github}}" target="_blank" rel="noopener noreferrer">
                                <button class="btn-secondary">GitHub</button>
                            </a>
                            <a href="{{project.links.live}}" target="_blank" rel="noopener noreferrer">
                                <button class="btn-primary">Live Test</button>
                            </a>
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
   
</section>