@import "./../../../styles-var.scss";

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: stretch;

  > img {
    height: auto;
    object-fit: cover;
  }

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;

    >p {
      padding-top: 16px;
      max-width: 660px;
    }

    h3,
    p {
      text-align: right;
    }

    p,
    span {
      color: $turquoise;
    }
  }
}

.short-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  padding: 24px 0;

  h3 {
    line-height: 1;
  }

  > div {
    display: flex;
    gap: 48px;
  }

  .short-info {
    display: flex;
    align-items: end;
    gap: 16px;

    span {
      font-size: 18px;
    }



    .remote {
      width: 62px;
      height: 56px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      img {
        width: min-content;
        height: min-content;
      }
    }

    .location {
      width: 34px;
      height: 50px;
    }
    }
  }


.row-one {
  padding-right: 80px;
}

.row-two {
  padding-right: 240px;
}

.row-three {
    padding-right: 40px;
}

.row-four {
    // padding-right: 20px;
}

.btn-primary {
  transition: none;
}

@media (max-width: 1080px) {
  .wrapper {
    > img {
      max-width: 40%;
    }
  }
}

@media (max-width: 860px) {
  .wrapper {
    > img {
      display: none;
    }

    > div {
      align-items: center;


      h3,
      p {
        text-align: center;
      }
    }
  }

  .short-info-container {
    align-items: center;

    > div {
      gap: 0;
    }

    .short-info {
      align-items: center;
    }
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four {
    padding-right: 0;
  }

  .row-one {
    flex-direction: column;
  }

  .row-two {
    display: none !important;
  }

  .remote-text {
    padding-top: 16px;
  }



}


