<section>
    <img src="./assets/img/Why me.png" alt="another portrait image of myself">

    <div>
        <h3>Why me</h3>
        <p>I am motivated to continuously learn new technologies and develop <br> myself.
            My ability to solve complex problems and my passion for <br> programming make
            me a valuable member of your team.</p>

        <div class="short-info-container">
            <div class="row-one">
                <h3>I am</h3>
                <div class="short-info">
                    <img class="location" [src]="iconLocation" (mouseover)="changeImage(true, 'location')" (mouseleave)="changeImage(false, 'location')" alt="image of a map marker indicating location">
                    <span>located <br> in Rostock </span>
                </div>
            </div>
            <div class="row-two">
                <img src="./assets/img/arrow-curve.png" alt="visual arrow pointing from my location towards my information about working remote">
            </div>
            <div class="row-three">
                <div class="short-info">
                    <div class="remote">
                        <img [src]="iconRemote" (mouseover)="changeImage(true, 'remote')" (mouseleave)="changeImage(false, 'remote')" alt="image of a laptop indicating remote working">
                    </div>
                    <span>open to <br>  work remote</span>
                </div>
            </div>
            <div class="row-four">
                <img src="./assets/img/arrow-whirly.png" alt="visual arrow pointing from my information about working remote towards button that links to contact form">
            </div>
        </div>
        <button class="btn-primary">Let's talk</button>
    </div>
</section>