@import "./../../../styles-var.scss";

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;

  .title {
    flex: 1;
    color: $turquoise;
    position: relative;
  }

  h1 {
    font-weight: 500;
    font-size: 54px;
  }

  h2 {
    font-weight: 700;
    font-size: 82px;
  }

  > img {
    height: auto;
    max-width: 80%;
  }
}

.btn-secondary {
  transform: rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  top: -50%;

}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 8px;

  &:hover {
    border: 1px solid $turquoise;

    path {
      fill: $turquoise;
    }
  }
}

@media (max-height: 800px) {
  .btn-secondary {
    top: -20%;
  }
}

@media (max-height: 700px) {
  .btn-secondary {
    top: 0;
  }

  svg {
    top: 40%;
  }

}

@media (max-height: 600px) {
  .btn-secondary {
    transform: rotate(0deg);
    top: -40%;
  }

    .wrapper {
    > a {
      display: none;
    }

    > img {
      max-height: 80%;

    }
  }
}

@media (max-height: 400px) {
  .title {
    a {
      display: none;
    }
  }

}

@media (max-width: 1140px) {
  .wrapper {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 56px;
    }

    > img {
      max-width: 62%;
    }
  }
}

@media (max-width: 800px) {
  .title {
    a {
      display: none;
    }
  }

  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    > a {
      display: none;
    }

    .title {
      flex: none;

      h1,
      h2 {
        text-align: center;
      }
    }

    > img {
      max-width: 62%;
    }
  }
}

@media (max-width: 680px) {
  .wrapper {

    .title {
      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 36px;
      }
    }

    > img {
      max-width: 80%;
    }
  }
}

@media (max-width: 500px) {
  .wrapper {


    > img {
      max-width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .wrapper {

    .title {
      h1 {
        font-size: 24px;
      }
    }

    > img {
      max-width: 100%;
    }
  }
}
