<div class="wrapper">
    <section>
        <h1>{{'privacy-policy.title' | translate}}</h1>
        <h2 id="m716">{{'privacy-policy.contents.1.title' | translate}}</h2>
        <p>{{'privacy-policy.contents.1.text' | translate}}</p> <br>
        <p>{{'privacy-policy.contents.1.gender-info' | translate}}</p> <br>
        
        <p>{{'privacy-policy.contents.1.date' | translate}}</p>
        <h2>{{'privacy-policy.contents-title' | translate}}</h2>
        <ul class="index">
            <li><a class="index-link" href="#m716">{{'privacy-policy.contents.1.title' | translate}}</a></li>
            <li><a class="index-link" href="#m3">{{'privacy-policy.contents.2.title' | translate}}</a></li>
            <li><a class="index-link" href="#mOverview">{{'privacy-policy.contents.3.title' | translate}}</a></li>
            <li><a class="index-link" href="#m2427">{{'privacy-policy.contents.4.title' | translate}}</a></li>
            <li><a class="index-link" href="#m27">{{'privacy-policy.contents.5.title' | translate}}</a></li>
            <li><a class="index-link" href="#m12">{{'privacy-policy.contents.6.title' | translate}}</a></li>
            <li><a class="index-link" href="#m10">{{'privacy-policy.contents.7.title' | translate}}</a></li>
            <li><a class="index-link" href="#m225">{{'privacy-policy.contents.8.title' | translate}}</a></li>
            <li><a class="index-link" href="#m134">{{'privacy-policy.contents.9.title' | translate}}</a></li>
            <li><a class="index-link" href="#m182">{{'privacy-policy.contents.10.title' | translate}}</a></li>
            <li><a class="index-link" href="#m136">{{'privacy-policy.contents.11.title' | translate}}</a></li>
        </ul>
        <h2 id="m3">{{'privacy-policy.contents.2.title' | translate}}</h2>
        <p>Lisa-Marie Maliga<br>Brahmsstraße 44<br>18069 Rostock</p>
        <p>E-Mail: <a href="mailto:hello@lisamariemaliga.com">hello&#64;lisamariemaliga.com</a></p>
        
        <h2 id="mOverview">{{'privacy-policy.contents.3.title' | translate}}</h2>
        <div class="legal" [innerHTML]="'privacy-policy.contents.3.text' | translate">
        </div>
       
        <h2 id="m2427">{{'privacy-policy.contents.4.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.4.text' | translate">
        </div>
        
        
        <h2 id="m27">{{'privacy-policy.contents.5.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.5.text' | translate">
        </div>
        
        <h2 id="m12">{{'privacy-policy.contents.6.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.6.text' | translate">
        </div>
        
        <h2 id="m10">{{'privacy-policy.contents.7.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.7.text' | translate">
        </div>
        
        
        <h2 id="m225">{{'privacy-policy.contents.8.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.8.text' | translate">
        </div>
        
        <h2 id="m134">{{'privacy-policy.contents.9.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.9.text' | translate">
        </div>
       
        <h2 id="m182">{{'privacy-policy.contents.10.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.10.text' | translate">
        </div>
        
        <h2 id="m136">{{'privacy-policy.contents.11.title' | translate}}</h2>
        <div [innerHTML]="'privacy-policy.contents.11.text' | translate">
        </div>
        
        <p class="seal"><a href="https://datenschutz-generator.de/"
            [title]="'privacy-policy.credit.title' | translate" target="_blank"
                rel="noopener noreferrer nofollow">{{'privacy-policy.credit.text' | translate}}</a>
        </p>
    </section>
</div>

