@import './../../../styles-var.scss';

nav {
    // position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, #120b35 60%, transparent );
    display: flex;
    align-items: center;
    gap: 38px;

    >div {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
}

.nav-links {
    display: flex;
    gap: 32px;
    font-size: 22px;
    font-weight: 500;

    a {
        &:active {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.lang-switch {
    display: flex;
    gap: 6px;
    font-size: 18px;
    font-weight: 700;
    color: $red;
}

a {
    &:hover {
        color: $turquoise;
    }
}

