<nav>
    <div class="wrapper">
        <a [routerLink]="['/']" fragment="home">
            <img src="./assets/img/logo.png" alt="Logo">
        </a>

        <div class="links" [ngClass]="{'show': menuToggle == 'open', 'hide' : menuToggle == ''}">
            <div class="nav-links">
                <a [routerLink]="['/']" fragment="about" (click)="closeResponsiveMenu()">{{'navbar.about' | translate}}</a>
                <a [routerLink]="['/']" fragment="skills" (click)="closeResponsiveMenu()">{{'navbar.skills' | translate}}</a>
                <a [routerLink]="['/']" fragment="projects" (click)="closeResponsiveMenu()">{{'navbar.projects' | translate}}</a>
                <a [routerLink]="['/']" fragment="contact" (click)="closeResponsiveMenu()">{{'navbar.contact' | translate}}</a>
            </div>

            <div class="lang-switch">
                <button (click)="translate.switchLanguage('de'); closeResponsiveMenu()">DE</button>
                <span>|</span>
                <button (click)="translate.switchLanguage('en'); closeResponsiveMenu()">EN</button>
            </div>
        </div>

        <div class="menu-btn" [ngClass]="menuToggle" (click)="toggleMenu()">
            <div class="menu-btn__burger"></div> 
        </div>
    </div>
</nav>