app-hero {
    display: flex;
    height: 100svh;
    padding: 0 48px;
}

app-about, app-skills, app-projects, app-references, app-contact {
    display: flex;

    padding: 0 48px;
}

app-about, app-skills, app-projects, app-contact {
    padding-top: 96px;
}

app-references {
    padding-top: 48px;
}

@media (max-width: 800px) {
    app-hero {
        padding: 0 20px;
    }
    
    app-about, app-skills, app-projects, app-references, app-contact {
        display: flex;
        padding: 0 20px;
    }

    app-about, app-skills, app-projects, app-contact {
        padding-top: 96px;
    }

    app-references {
        padding-top: 48px;
    }
}