// <app-hero></app-hero>
// <app-about></app-about>
// <app-skills></app-skills>
// <app-projects></app-projects>
// <app-references></app-references>
// <app-contact></app-contact>

app-hero {
    display: flex;
    height: 100vh;
    padding: 0 48px;
}

app-about, app-skills, app-projects, app-references, app-contact {
    display: flex;

    padding: 0 48px;
}

app-about, app-skills, app-projects, app-contact {
    padding-top: 96px;
}

app-references {
    padding-top: 48px;
}

@media (max-width: 800px) {
    app-hero {
        padding: 0 20px;
    }
    
    app-about, app-skills, app-projects, app-references, app-contact {
        display: flex;
        padding: 0 20px;
    }

    app-about, app-skills, app-projects, app-contact {
        padding-top: 96px;
    }

    app-references {
        padding-top: 48px;
    }
}