<section>
    <div class="wrapper">
        <div class="title-container">
            <h4><span>{{'references.title' | translate}}</span><span class="responsive-title">&nbsp;</span><span class="responsive-title">{{'references.subtitle' | translate}}</span></h4>
            <p class="responsive-subtitle">{{'references.subtitle' | translate}}</p>
        </div>
       
        <div class="references-container">
            <img src="./assets/img/arrow-reference.svg" alt="visual arrow pointing towards testimonials">
    
            @for (reference of references; track $index) {
            <div class="reference">
                <div>
                    <h4>{{reference.name}}</h4>
                    <p>{{ 'references.render.' + $index + '.project-name' | translate}}</p>
                </div>
                <p>{{ 'references.render.' + $index + '.text' | translate}}</p>
            </div>
            }
    
        </div>
    </div>
    
</section>