@import './styles-var.scss';

@font-face {
    font-family: 'Roboto Mono';
    src: url(./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}



* {
    font-family: 'Roboto Mono';
}

body {
    background-color: #120B35;
    color: whitesmoke;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $red;
}
