<section>
    <div class="top">
        <div class="logo">
            <a href="#home">
                <img src="./assets/img/logo.png" alt="Logo">
            </a>
            <span>frontend developer</span>
        </div>
       
        <div class="socials">
            <a href="https://github.com/debuggingLizard" target="_blank">
                <img src="./assets/img/socials-github.svg" alt="GitHub">
            </a>
            <a href="mailto:hello@lisamariemaliga.com">
                <img src="./assets/img/socials-email.svg" alt="Email">
            </a>
            <a href="https://www.linkedin.com/in/lisa-marie-maliga-78a926336/" target="_blank">
                <img src="./assets/img/socials-linkedin.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
    <div class="bottom">
        <p>
            &copy; Lisa-Marie Maliga 2024
        </p>
        <div>
            <a (click)="openInNewTab('/legal')">{{'footer.legal' | translate}}</a>
            <a (click)="openInNewTab('/privacy')">{{'footer.privacy' | translate}}</a>
        </div>
    

    </div>
</section>