<section>
    <div class="wrapper">
        <div class="top">
            <div class="logo">
                <a [routerLink]="['/']" fragment="home">
                    <img src="./assets/img/logo.png" alt="Logo">
                </a>
                <span class="logo-text">frontend developer</span>
                <span class="logo-text-responsive">&copy; Lisa-Marie Maliga 2024</span>
            </div>
           
            <div class="socials">
                <a href="https://github.com/debuggingLizard" target="_blank">
                    <img src="./assets/img/socials-github.svg" alt="GitHub">
                </a>
                <a href="mailto:hello@lisamariemaliga.com">
                    <img src="./assets/img/socials-email.svg" alt="Email">
                </a>
                <a href="https://www.linkedin.com/in/lisa-marie-maliga-78a926336/" target="_blank">
                    <img src="./assets/img/socials-linkedin.svg" alt="LinkedIn">
                </a>
            </div>
        </div>
        <div class="bottom">
            <p>
                &copy; Lisa-Marie Maliga 2024
            </p>
            <div>
                <a [routerLink]="['/legal']">{{'footer.legal' | translate}}</a>
                <a [routerLink]="['/privacy']">{{'footer.privacy' | translate}}</a>
            </div>
        
    
        </div>
    </div>
</section>