<section>
    <div class="top">
        <div class="logo">
            <img src="./assets/img/logo.svg" alt="">
            <span>frontend developer</span>
        </div>
       
        <div class="socials">
            <a href="">
                <img src="./assets/img/socials-github.svg" alt="GitHub">
            </a>
            <a href="">
                <img src="./assets/img/socials-email.svg" alt="Email">
            </a>
            <a href="">
                <img src="./assets/img/socials-linkedin.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
    <div class="bottom">
        <p>
            &copy; Lisa-Marie Maliga 2024
        </p>
        <div>
            <a href="">Legal notice</a>
            <a href="">privacy policy</a>
        </div>
    

    </div>
</section>